# generated
.svelte-kit/

# compiled output
/build/
/tmp/

# dependencies
/node_modules/

# misc
/.env*
/.pnp*
/.eslintcache
/coverage/
/npm-debug.log*

# playwright
/test-results/
/playwright-report/
/playwright/.cache/
